

.brandProductsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 0px 50px 0px;
    gap: 15px;
}

.brandProductsDiv h2{
    font-size: 40px;
}

.brandProductsDiv p{
    line-height: 20px;
}

.brandProductsDiv2{
    padding: 20px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
}

.brandProductsDiv2 div{
    width: 100%;
}

.brPr2{
    position: relative;
}

.brPr21{
    position: absolute;
    top: 50px;
    left: 30px;
}

.brPr21 span{
    color: orange;
    font-size: 25px;
    font-weight: 700;
}

.brPr21 p{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 8px;
}

.brPr21 h2{
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 10px;
}

.brPr21 button{
    padding: 15px 30px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    gap: 3px;
}

.brPr11{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 10px;
    gap: 5px;
    border-radius: 5px;
}

.brPr11 ul{
    list-style: none;
    display: flex;
    gap:5px;
    padding-bottom: 10px;
}

.brPrIcons{
    color: orange;
    font-size: 20px;
    padding-bottom: 10px;
}

.brPrName{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}

.brPrPrice1{
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 700;
}

.brPrPrice2{
    color: green;
    font-size: 15px;
    font-weight: 700;
}

.brPrbutton{
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 2px;
}

.brPr1{
    display: grid;
    gap: 46px;
}

.brandProductsDiv3{
    padding: 20px 10%;
    position: relative;
}

.brPrImage3{
    width: 100%;
}

.brPr30{
    position: absolute;
    top: 120px;
    left: 200px;
}

.brPr30 h2{
    font-size: 35px;
    padding-bottom: 20px;
}

.brPr301 input{
    padding: 17px 250px 17px 20px;
    border-radius: 5px 0px 0px 5px;
    border: none;
}

.brPr301 input::placeholder{
    font-size: 17px;
    width: 100%;
}

.brPr301 button{
    padding: 17px 30px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 15px;
    font-weight: 700;
}

.brPr301{
    display: flex;
    align-items: center;
}
